* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.container {
  margin: 0 auto;
  padding: 0 24px;
  max-width: 1330px;
}

ul,
li,
a,
button,
input {
  text-decoration: none;
  list-style: none;
  background: none;
  border: none;
  outline: none;
}

.nav_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
.nav_top i {
  font-size: 20px;
  cursor: pointer;
}
.nav_top .nav_right, .nav_top .nav_left {
  display: flex;
  gap: 20px;
}
.nav_top .menu {
  display: none;
}

.nav_bar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}
.nav_bar ul {
  display: flex;
  gap: 44px;
}
.nav_bar ul .nav_bar__link {
  color: #726E8D;
  font-size: 16px;
  padding-bottom: 3px;
  transition: 0.3s linear;
  border-bottom: 2px solid transparent;
}
.nav_bar ul .nav_bar__link:hover {
  color: #000;
  border-bottom: 2px solid #000;
  padding-bottom: 10px;
  transition: 0.3s linear;
}

.navigation {
  z-index: 1;
  position: absolute;
  top: -500%;
  right: -500%;
  width: 300px;
  background: #fff;
  height: 100vh;
  transition: 1s linear;
}
.navigation.open {
  right: 0;
  top: 0;
  position: fixed;
}
.navigation i {
  font-size: 26px;
  margin: 16px;
}
.navigation ul {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
.navigation ul .nav_bar__link {
  display: flex;
  width: 300px;
  padding: 15px 30px;
  transition: 0.3s linear;
  color: #726E8D;
  font-size: 16px;
}
.navigation ul .nav_bar__link:hover {
  background: rgba(114, 110, 141, 0.7176470588);
  color: #fff;
  transition: 0.3s linear;
}

.header {
  background: url(../../../img/Hero\ Blocks.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 90vh;
}

.header_top {
  display: none;
  flex-direction: column;
  margin: 40px 0 30px;
}
.header_top h2 {
  color: var(--Dark-Primary, #2A254B);
  font-size: 24px;
  font-weight: 300;
  max-width: 340px;
}
.header_top p {
  color: var(--Dark-Primary, #2A254B);
  font-size: 16px;
  font-weight: 400;
  max-width: 340px;
  margin: 12px 0 32px;
}
.header_top button {
  color: #2A254B;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  background: var(--Light-Grey, #F9F9F9);
  padding: 16px 32px;
  transition: 0.3s linear;
}
.header_top button:hover {
  background: var(--Light-Grey, rgba(186, 184, 184, 0.7411764706));
}

.header_parent {
  display: flex;
  align-items: center;
  justify-content: flex-end !important;
  height: 90vh;
}

.hero_header {
  height: 60vh;
  background: #fff;
  padding: 48px 56px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.hero_header h2 {
  color: #22202E;
  font-size: 32px;
  line-height: 140%;
  font-weight: 300;
  max-width: 460px;
}
.hero_header p {
  margin-top: 20px;
  color: #5B5676;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
}
.hero_header button {
  cursor: pointer;
  color: #2A254B;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  background: var(--Light-Grey, #F9F9F9);
  padding: 16px 32px;
  transition: 0.3s linear;
}
.hero_header button:hover {
  background: var(--Light-Grey, rgba(186, 184, 184, 0.7411764706));
}

@media screen and (max-width: 760px) {
  .nav_bar, hr, .nav_right {
    display: none !important;
  }
  .nav_top {
    flex-direction: row-reverse;
  }
  .menu {
    display: block !important;
  }
  .hero_header {
    height: 60vh;
    background: #fff;
    padding: 48px 56px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
  .hero_header h2 {
    color: #22202E;
    font-size: 28px;
    line-height: 140%;
    font-weight: 300;
    max-width: 400px;
  }
  .hero_header p {
    margin-top: 20px;
    color: #5B5676;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
  }
  .hero_header button {
    cursor: pointer;
    color: #2A254B;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    background: var(--Light-Grey, #F9F9F9);
    padding: 16px 32px;
    transition: 0.3s linear;
  }
  .hero_header button:hover {
    background: var(--Light-Grey, rgba(186, 184, 184, 0.7411764706));
  }
}
@media screen and (max-width: 560px) {
  .header {
    height: 50vh;
  }
  .header_top {
    display: flex;
  }
  .hero_header {
    display: none;
  }
}
.first_top {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}
.first_top h2 {
  color: var(--Dark-Primary, #2A254B);
  font-size: 24px;
  font-weight: 400;
  line-height: 140%;
}

.first_parent {
  margin: 36px 0 80px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 22px;
}
.first_parent .first_card {
  background: var(--Light-Grey, #F9F9F9);
  padding: 48px;
  transition: 0.3s linear;
}
.first_parent .first_card:hover {
  box-shadow: 0 0 10px;
}
.first_parent .first_card h4 {
  color: var(--Dark-Primary, #2A254B);
  font-size: 20px;
  font-weight: 400;
  line-height: 140%;
  margin: 12px 0;
}
.first_parent .first_card p {
  color: var(--Dark-Primary, #2A254B);
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  max-width: 209px;
}

@media screen and (max-width: 670px) {
  .first_parent {
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  }
  .first_parent .first_card {
    padding: 34px 24px;
  }
  .first_parent .first_card p {
    max-width: 209px;
  }
}
@media screen and (max-width: 560px) {
  .first_top {
    margin-top: 50px;
  }
  .first_top h2 {
    font-size: 20px;
  }
  .first_parent {
    margin: 36px 0 50px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
  .first_parent .first_card p {
    max-width: 300px;
  }
}
.second_parent {
  margin-top: 28px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 10px;
}
.second_parent .second_card {
  display: flex;
  flex-direction: column;
}
.second_parent .second_card img {
  width: 280px;
}
.second_parent .second_card p {
  color: var(--Dark-Primary, #2A254B);
  font-size: 20px;
  font-weight: 400;
  line-height: 140%;
  padding: 24px 0 8px;
}
.second_parent .second_card span {
  color: var(--Dark-Primary, #2A254B);
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
}

.second_bottom {
  margin: 40px 0;
  display: flex;
  justify-content: center;
}
.second_bottom button {
  background: var(--Light-Grey, #F9F9F9);
  padding: 16px 32px;
  color: #2A254B;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  transition: 0.3s linear;
}
.second_bottom button:hover {
  background: var(--Light-Grey, rgba(186, 184, 184, 0.7411764706));
}

@media screen and (max-width: 1280px) {
  .second_parent {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
  .second_parent .second_card img {
    width: 250px;
  }
}
@media screen and (max-width: 690px) {
  .second_parent {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
  .second_parent .second_card img {
    width: 250px;
  }
}
@media screen and (max-width: 570px) {
  .second_parent {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  .second_parent .second_card img {
    width: 200px;
  }
}
@media screen and (max-width: 470px) {
  .second_parent {
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    gap: 10px;
  }
  .second_parent .second_card img {
    width: 160px;
  }
  .second_parent .second_card p {
    font-size: 18px !important;
    padding: 24px 0 8px;
  }
  .second_parent .second_card span {
    font-size: 16px !important;
  }
}
@media screen and (max-width: 380px) {
  .second_parent {
    margin-top: 28px;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    gap: 10px;
  }
  .second_parent .second_card img {
    width: 140px;
  }
}
.three_parent {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 60px 0;
}
.three_parent .three_left {
  width: 49%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 64px 75px 54px 64px;
  background: var(--Dark-Primary, #2A254B);
}
.three_parent .three_left h2 {
  color: #FFF;
  font-size: 28px;
  font-weight: 400;
}
.three_parent .three_left p {
  color: #FFF;
  font-size: 18px;
  font-weight: 300;
  margin-top: 12px;
  max-width: 490px;
}
.three_parent .three_left button {
  background: rgba(249, 249, 249, 0.15);
  padding: 16px 32px;
  color: var(--White, #FFF);
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  transition: 0.2s linear;
}
.three_parent .three_left button:hover {
  background: rgba(249, 249, 249, 0.331);
}
.three_parent .three_right {
  width: 49%;
  height: 60vh;
  background: url(../../../img/Image\ Block.png);
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (max-width: 1000px) {
  .three_parent .three_left {
    width: 49%;
    height: 60vh;
    padding: 44px 45px 34px 44px;
  }
  .three_parent .three_right {
    width: 49%;
    height: 60vh;
  }
}
@media screen and (max-width: 800px) {
  .three_parent {
    flex-direction: column;
    align-items: center !important;
    gap: 24px;
  }
  .three_parent .three_left {
    width: 80%;
    height: 49vh;
    padding: 44px 45px 34px 44px;
  }
  .three_parent .three_right {
    width: 80%;
    height: 49vh;
  }
}
@media screen and (max-width: 590px) {
  .three_parent .three_left {
    width: 90%;
    height: 45vh;
    padding: 36px 30px;
  }
  .three_parent .three_left h2 {
    font-size: 20px;
  }
  .three_parent .three_left p {
    font-size: 14px;
    max-width: 380px;
  }
  .three_parent .three_left button {
    width: 100%;
  }
  .three_parent .three_right {
    width: 90%;
    height: 49vh;
  }
}
@media screen and (max-width: 470px) {
  .three_parent {
    margin: 30px 0;
  }
  .three_parent .three_left {
    width: 100%;
  }
  .three_parent .three_right {
    width: 100%;
  }
}
.last_section {
  background: url(../../../img/Email\ sign-up.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.last_section .last_body {
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.last_section .last_parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.last_section .last_parent h2 {
  color: var(--White, #FFF);
  text-align: center;
  font-size: 28px;
  font-weight: 400;
  line-height: 140%;
}
.last_section .last_parent p {
  color: var(--White, #FFF);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  max-width: 470px;
}
.last_section .last_parent .last_row {
  display: flex;
  align-items: center;
  gap: 36px;
}
.last_section .last_parent span {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--White, #FFF);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}
.last_section form {
  display: flex;
  align-items: center;
  width: 100%;
  overflow: hidden;
}
.last_section form input {
  width: 70%;
  padding: 17px 32px;
  color: var(--Dark-Primary, #2A254B);
  font-size: 16px;
  font-weight: 400;
  background: var(--Light-Grey, #F9F9F9);
}
.last_section form button {
  background: var(--Dark-Primary, #2A254B);
  color: var(--White, #FFF);
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  padding: 15px 32px;
  cursor: pointer;
  transition: 0.3s linear;
}
.last_section form button:hover {
  background: var(--Dark-Primary, #443d74);
}

@media screen and (max-width: 590px) {
  .last_section .last_parent {
    gap: 20px;
    flex-direction: column;
    align-items: flex-start;
  }
  .last_section .last_parent h2 {
    font-size: 20px;
    text-align: start;
  }
  .last_section .last_parent p {
    font-size: 14px;
    font-weight: 300;
    max-width: 330px;
    text-align: start;
  }
  .last_section .last_parent .last_row {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
  }
  .last_section .last_parent span {
    font-weight: 300;
  }
  .last_section form input {
    width: 60%;
  }
}
@media screen and (max-width: 470px) {
  .last_section form input {
    width: 60%;
  }
  .last_section form button {
    width: 40%;
  }
}
.footer {
  background: var(--Dark-Primary, #2A254B);
}

.footer_body {
  padding: 45px 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.footer_body .footer_left {
  width: 50%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
}
.footer_body ul {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.footer_body ul .footer_link {
  color: var(--White, #FFF);
  font-size: 14px;
  font-weight: 400;
  transition: 0.2s linear;
}
.footer_body ul .footer_link:hover {
  color: rgba(255, 255, 255, 0.543);
}
.footer_body .footer_right {
  width: 45%;
}
.footer_body .footer_right p {
  color: var(--White, #FFF);
  font-size: 16px;
  font-weight: 400;
}
.footer_body .footer_right form {
  margin-top: 16px;
  width: 100%;
  display: flex;
}
.footer_body .footer_right input {
  width: 60%;
  background: rgba(255, 255, 255, 0.15);
  padding: 17px 32px;
  color: var(--White, #FFF);
  font-size: 16px;
}
.footer_body .footer_right input::placeholder {
  color: var(--White, #FFF);
  font-size: 16px;
  font-weight: 400;
}
.footer_body .footer_right button {
  background: var(--White, #FFF);
  padding: 16px 32px;
  color: #2A254B;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  transition: 0.3s linear;
  cursor: pointer;
}
.footer_body .footer_right button:hover {
  background: rgba(255, 255, 255, 0.826);
}

.footer_bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;
}
.footer_bottom p {
  color: var(--White, #FFF);
  font-size: 14px;
  font-weight: 400;
}
.footer_bottom .social_img {
  display: flex;
  gap: 24px;
}
.footer_bottom .social_img i {
  cursor: pointer;
  font-size: 24px;
  color: #FFF;
}

@media screen and (max-width: 705px) {
  .footer_body {
    padding: 45px 0;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .footer_body .footer_left {
    width: 80%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .footer_body ul {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .footer_body ul .footer_link {
    color: var(--White, #FFF);
    font-size: 14px;
    font-weight: 400;
    transition: 0.2s linear;
  }
  .footer_body ul .footer_link:hover {
    color: rgba(255, 255, 255, 0.543);
  }
  .footer_body .footer_right {
    margin-top: 40px;
    width: 80%;
  }
  .footer_body .footer_right p {
    color: var(--White, #FFF);
    font-size: 16px;
    font-weight: 400;
  }
  .footer_body .footer_right form {
    margin-top: 16px;
    width: 100%;
    display: flex;
  }
  .footer_body .footer_right input {
    width: 70%;
    background: rgba(255, 255, 255, 0.15);
    padding: 17px 32px;
    color: var(--White, #FFF);
    font-size: 16px;
  }
  .footer_body .footer_right input::placeholder {
    color: var(--White, #FFF);
    font-size: 16px;
    font-weight: 400;
  }
  .footer_body .footer_right button {
    background: var(--White, #FFF);
    padding: 16px 32px;
    color: #2A254B;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    transition: 0.3s linear;
    cursor: pointer;
  }
  .footer_body .footer_right button:hover {
    background: rgba(255, 255, 255, 0.826);
  }
  .footer_bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;
  }
  .footer_bottom p {
    color: var(--White, #FFF);
    font-size: 14px;
    font-weight: 400;
  }
  .footer_bottom .social_img {
    display: none;
  }
}
@media screen and (max-width: 560px) {
  .footer_body {
    padding: 45px 0;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .footer_body .footer_left {
    width: 80%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .footer_body ul {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .footer_body ul .footer_link {
    color: var(--White, #FFF);
    font-size: 14px;
    font-weight: 400;
    transition: 0.2s linear;
  }
  .footer_body ul .footer_link:hover {
    color: rgba(255, 255, 255, 0.543);
  }
  .footer_body .footer_right {
    margin-top: 40px;
    width: 100%;
  }
  .footer_body .footer_right p {
    color: var(--White, #FFF);
    font-size: 16px;
    font-weight: 400;
  }
  .footer_body .footer_right form {
    margin-top: 16px;
    width: 100%;
    display: flex;
  }
  .footer_body .footer_right input {
    width: 60%;
    background: rgba(255, 255, 255, 0.15);
    padding: 17px 32px;
    color: var(--White, #FFF);
    font-size: 16px;
  }
  .footer_body .footer_right input::placeholder {
    color: var(--White, #FFF);
    font-size: 16px;
    font-weight: 400;
  }
  .footer_body .footer_right button {
    background: var(--White, #FFF);
    padding: 16px 22px;
    color: #2A254B;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    transition: 0.3s linear;
    cursor: pointer;
  }
  .footer_body .footer_right button:hover {
    background: rgba(255, 255, 255, 0.826);
  }
  .footer_bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;
  }
  .footer_bottom p {
    color: var(--White, #FFF);
    font-size: 14px;
    font-weight: 400;
  }
  .footer_bottom .social_img {
    display: none;
  }
}

/*# sourceMappingURL=main.css.map */
