.first_top{
    display: flex;
    justify-content: center;
    margin-top: 80px;
    h2{
        color: var(--Dark-Primary, #2A254B);
        font-size: 24px;
        font-weight: 400;
        line-height: 140%; 
    }
}
.first_parent{
    margin: 36px 0 80px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 22px;
    .first_card{
        background: var(--Light-Grey, #F9F9F9);
        padding: 48px;
        transition: .3s linear;
        &:hover{
            box-shadow: 0 0 10px;
        }
        h4{
            color: var(--Dark-Primary, #2A254B);
            font-size: 20px;
            font-weight: 400;
            line-height: 140%; 
            margin: 12px 0;
        }
        p{
            color: var(--Dark-Primary, #2A254B);
            font-size: 16px;
            font-weight: 400;
            line-height: 150%; 
            max-width: 209px;
        }
    }
}

@media screen and (max-width: 670px) {
    .first_parent{
        grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
        .first_card{
            padding: 34px 24px;
            p{ 
                max-width: 209px;
            }
        }
    }
    
}
@media screen and (max-width: 560px) {
    .first_top{
        margin-top: 50px;
        h2{
            font-size: 20px;
        }
    }
    .first_parent{
        margin: 36px 0 50px;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        .first_card{
            p{ 
                max-width: 300px;
            }
        }
    }
    
}