.nav_top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    i{
        font-size: 20px;
        cursor: pointer;
    }
    .nav_right, .nav_left{
        display: flex;
        gap: 20px;
    }
    .menu{
        display: none;
    }
}
.nav_bar{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    ul{
        display: flex;
        gap: 44px;
        .nav_bar__link{
            color: #726E8D;
            font-size: 16px;
            padding-bottom: 3px;
            transition: .3s linear;
            border-bottom: 2px solid transparent;

        }
        .nav_bar__link:hover{
            color: #000;
            border-bottom: 2px solid #000;
            padding-bottom: 10px;
            transition: .3s linear;

        }
    }
}
.navigation{
    z-index: 1;
    position: absolute;
    top: -500%;
    right: -500%;
    width: 300px;
    background: #fff;
    height: 100vh;
    transition: 1s linear;
    &.open{
        right: 0;
        top: 0;
        position: fixed;
    }
    i{
        font-size: 26px;
        margin: 16px;
    }
    ul{
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        .nav_bar__link{
            display: flex;
            width: 300px;
            padding: 15px 30px;
            transition: .3s linear;
            color: #726E8D;
            font-size: 16px;
        }
        .nav_bar__link:hover{
            background: #726e8db7;
            color: #fff;
            transition: .3s linear;

        }
    }
}

.header{
    background: url(../../../img/Hero\ Blocks.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 90vh;
    // background-attachment: fixed;
    
    
}
.header_top{
    display: none;
    flex-direction: column;
    margin: 40px 0 30px;
    h2{
        color: var(--Dark-Primary, #2A254B);
        font-size: 24px;
        font-weight: 300;
        max-width: 340px;
    }
    p{
        color: var(--Dark-Primary, #2A254B);
        font-size: 16px;
        font-weight: 400;
        max-width: 340px;
        margin: 12px 0 32px;
    }
    button{
        color: #2A254B;
        font-size: 16px;
        font-weight: 400;
        line-height: 150%; 
        background: var(--Light-Grey, #F9F9F9);
        padding: 16px 32px;
        transition: .3s linear;
        &:hover{
            background: var(--Light-Grey, #bab8b8bd);

        }
    }
}
.header_parent{
    display: flex;
    align-items: center;
    justify-content: flex-end !important;
    height: 90vh;
}
.hero_header{
    
    height: 60vh;
    background: #fff;
    padding: 48px 56px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    h2{
        color: #22202E;
        font-size: 32px;
        line-height: 140%; 
        font-weight: 300;
        max-width: 460px;
    }
    p{
        margin-top: 20px;
        color: #5B5676;
        font-size: 18px;
        font-weight: 400;
        line-height: 150%; 
    }
    button{
        cursor: pointer;
        color: #2A254B;
        font-size: 16px;
        font-weight: 400;
        line-height: 150%; 
        background: var(--Light-Grey, #F9F9F9);
        padding: 16px 32px;
        transition: .3s linear;
        &:hover{
            background: var(--Light-Grey, #bab8b8bd);

        }
    }
}






@media screen and (max-width:760px){
    
    .nav_bar, hr, .nav_right{
        display: none !important;
    }
    .nav_top{
        flex-direction: row-reverse;
    }
    .menu{
        display: block !important;
    }
    .hero_header{
    
        height: 60vh;
        background: #fff;
        padding: 48px 56px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        h2{
            color: #22202E;
            font-size: 28px;
            line-height: 140%; 
            font-weight: 300;
            max-width: 400px;
        }
        p{
            margin-top: 20px;
            color: #5B5676;
            font-size: 16px;
            font-weight: 400;
            line-height: 150%; 
        }
        button{
            cursor: pointer;
            color: #2A254B;
            font-size: 16px;
            font-weight: 400;
            line-height: 150%; 
            background: var(--Light-Grey, #F9F9F9);
            padding: 16px 32px;
            transition: .3s linear;
            &:hover{
                background: var(--Light-Grey, #bab8b8bd);
    
            }
        }
    }
    
}

@media screen and (max-width:560px){
    
    .header{
        height: 50vh;
    }
    .header_top{
        display: flex;
    }
    .hero_header{
        display: none;
    }
    
}