.last_section{
    background: url(../../../img/Email\ sign-up.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    .last_body{
        height: 60vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .last_parent{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        h2{
            color: var(--White, #FFF);
            text-align: center;
            font-size: 28px;
            font-weight: 400;
            line-height: 140%; 
        }
        p{
            color: var(--White, #FFF);
            text-align: center;
            font-size: 18px;
            font-weight: 400;
            line-height: 150%; 
            max-width: 470px;
        }
        .last_row{
            display: flex;
            align-items: center;
            gap: 36px;
        }
        span{
            display: flex;
            align-items: center;
            gap: 8px;
            color: var(--White, #FFF);
            text-align: center;
            font-size: 16px;
            font-weight: 400;
            line-height: 150%; 
            
        }
    }
    form{
        display: flex;
        align-items: center;
        width: 100%;
        overflow: hidden;
        input{
            width: 70%;
            padding: 17px 32px;
            color: var(--Dark-Primary, #2A254B);
            font-size: 16px;
            font-weight: 400;
            background: var(--Light-Grey, #F9F9F9);
        }
        button{
            background: var(--Dark-Primary, #2A254B);
            color: var(--White, #FFF);
            font-size: 16px;
            font-weight: 400;
            line-height: 150%; 
            padding: 15px 32px;
            cursor: pointer;
            transition: .3s linear;
            &:hover{
                background: var(--Dark-Primary, #443d74);

            }
        }
    }
}
@media screen and (max-width: 590px) {
    .last_section{
        .last_parent{
            gap: 20px;
            
            flex-direction: column;
            align-items: flex-start;
            h2{
                font-size: 20px;
                text-align: start;
            }
            p{
                font-size: 14px;
                font-weight: 300;
                max-width: 330px;
                text-align: start;
            }
            .last_row{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 12px;
            }
            span{
                font-weight: 300;
            }
            
        }
        form{
            input{
                width: 60%;
            }
        }
    } 
}
@media screen and (max-width: 470px) {
    .last_section{
        form{
            input{
                width: 60%;
            }
            button{
                width: 40%;
            }
        }
    } 
}