.second_parent{
    margin-top: 28px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 10px;
    
    .second_card{
        display: flex;
        flex-direction: column;
        img{
            width: 280px;
        }
        p{
            color: var(--Dark-Primary, #2A254B);
            font-size: 20px;
            font-weight: 400;
            line-height: 140%;
            padding: 24px 0 8px;
        }
        span{
            color: var(--Dark-Primary, #2A254B);
            font-size: 18px;
            font-weight: 400;
            line-height: 150%; 
        }
    }
}
.second_bottom{
    margin: 40px 0;
    display: flex;
    justify-content: center;
    button{
        background: var(--Light-Grey, #F9F9F9);
        padding: 16px 32px;
        color: #2A254B;
        font-size: 16px;
        font-weight: 400;
        line-height: 150%;
        transition: .3s linear; 
        &:hover{
            background: var(--Light-Grey, #bab8b8bd);

        }
    }
}
@media screen and (max-width: 1280px) {
    .second_parent{
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        .second_card{
            img{
                width: 250px;
            }
        }
    }
}
@media screen and (max-width: 690px) {
    .second_parent{
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        .second_card{
            img{
                width: 250px;
            }
        }
    }
}
@media screen and (max-width: 570px) {
    .second_parent{
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        .second_card{
            img{
                width: 200px;
            }
        }
    }
}
@media screen and (max-width: 470px) {
    .second_parent{
        grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
        gap: 10px;
        .second_card{
            img{
                width: 160px;
            }
            p{
                font-size: 18px !important;
                padding: 24px 0 8px;
            }
            span{
                font-size: 16px !important;
            }
        }
    }
}
@media screen and (max-width: 380px) {
    .second_parent{
        margin-top: 28px;
        grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
        gap: 10px;
        .second_card{
            img{
                width: 140px;
            }
        }
    }
}