.three_parent{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 60px 0;
    .three_left{
        width: 49%;
        height: 60vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        padding: 64px 75px 54px 64px;
        background: var(--Dark-Primary, #2A254B);
        h2{
            color: #FFF;
            font-size: 28px;
            font-weight: 400;
        }
        p{
            color: #FFF;
            font-size: 18px;
            font-weight: 300;
            margin-top: 12px;
            max-width: 490px;
        }
        button{
            background: rgba(249, 249, 249, 0.15);
            padding: 16px 32px;
            color: var(--White, #FFF);
            font-size: 16px;
            font-weight: 400;
            line-height: 150%;
            transition: .2s linear;
            &:hover{
                background: rgba(249, 249, 249, 0.331);

            }
        }
    }
    .three_right{
        width: 49%;
        height: 60vh;
        background: url(../../../img/Image\ Block.png);
        background-repeat: no-repeat;
        background-position: center;
    }
}
@media screen and (max-width: 1000px) {
    .three_parent{
        .three_left{
            width: 49%;
            height: 60vh;
            padding: 44px 45px 34px 44px;
        }
        .three_right{
            width: 49%;
            height: 60vh;
        }
    } 
}
@media screen and (max-width: 800px) {
    .three_parent{
        flex-direction: column;
        align-items: center !important;
        gap: 24px;
        .three_left{
            width: 80%;
            height: 49vh;
            padding: 44px 45px 34px 44px;
        }
        .three_right{
            width: 80%;
            height: 49vh;
        }
    } 
}
@media screen and (max-width: 590px) {
    .three_parent{
        .three_left{
            width: 90%;
            height: 45vh;
            padding: 36px 30px;
            h2{
                font-size: 20px;
            }
            p{
                font-size: 14px;
                max-width: 380px;
            }
            button{
                width: 100%;
            }
        }
        .three_right{
            width: 90%;
            height: 49vh;
            
        }
    } 
}
@media screen and (max-width: 470px) {
    .three_parent{
        margin: 30px 0;
        .three_left{
            width: 100%;
        }
        .three_right{
            width: 100%;
        }
    } 
}